@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?dpfmnu");
  src: url("../fonts/icomoon.eot?dpfmnu#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?dpfmnu") format("truetype"), url("../fonts/icomoon.woff?dpfmnu") format("woff"), url("../fonts/icomoon.svg?dpfmnu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bar-graph:before {
  content: "\e900";
}

.icon-transfer:before {
  content: "\e901";
}

.icon-arrows:before {
  content: "\e901";
}

.icon-headphones:before {
  content: "\e910";
}

.icon-bullhorn:before {
  content: "\e91a";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-ticket:before {
  content: "\e939";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-display:before {
  content: "\e956";
}

.icon-laptop:before {
  content: "\e957";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-drive:before {
  content: "\e963";
}

.icon-search:before {
  content: "\e986";
}

.icon-briefcase:before {
  content: "\e9ae";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-shuffle:before {
  content: "\ea30";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-angle-double-right:before {
  content: "\e902";
}

.icon-star:before {
  content: "\e903";
}

.icon-lock:before {
  content: "\e904";
}

.icon-flask:before {
  content: "\e905";
}

.icon-clipboard:before {
  content: "\e906";
}

.icon-paste:before {
  content: "\e906";
}

.icon-handshake-o:before {
  content: "\e907";
}

.icon-dashboard:before {
  content: "\e908";
}

.icon-tachometer:before {
  content: "\e908";
}

.icon-phone-square:before {
  content: "\e909";
}

.icon-pencil:before {
  content: "\e90a";
}

.icon-envelope:before {
  content: "\e90b";
}

.icon-money:before {
  content: "\e90c";
}

.icon-graduation-cap:before {
  content: "\e90d";
}

.icon-cloud-download:before {
  content: "\e90e";
}

.icon-cloud:before {
  content: "\e90f";
}

.icon-group:before {
  content: "\e911";
}

.icon-users:before {
  content: "\e911";
}

.icon-cogs:before {
  content: "\e912";
}

.icon-gears:before {
  content: "\e912";
}

.icon-paperplane:before {
  content: "\e913";
}

.icon-send:before {
  content: "\e913";
}

.icon-flight:before {
  content: "\e913";
}

.icon-email:before {
  content: "\e913";
}

.icon-chat:before {
  content: "\e914";
}

.icon-help:before {
  content: "\e915";
}

.icon-security:before {
  content: "\e916";
}

.icon-call:before {
  content: "\e917";
}

.icon-trending_up:before {
  content: "\e918";
}

.icon-phone_in_talk:before {
  content: "\e919";
}

.icon-mouse:before {
  content: "\e91b";
}

.centered {
  text-align: center;
}

.hidden {
  display: none;
}

.reusable-wrapper {
  margin: 0px 0px;
  display: grid;
  text-align: left;
}

body {
  font-family: Poppins, sans-serif;
}

li {
  list-style-type: none;
}

.button {
  background-color: green;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 5px 15px;
  height: auto;
  box-sizing: border-box;
  text-decoration: none;
}

#page-header {
  display: grid;
  grid-auto-flow: column;
}

#page-header__logo,
#page-header__supportbtn,
#page-header__contactbtn,
#page-header__searchbox {
  align-self: center;
}

#banner {
  background: url("../images/home-YLei.webp") repeat 0 0;
  color: #ffffff;
  height: 650px;
  display: grid;
}
#banner h1 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
}
#banner div {
  align-self: auto;
  margin: auto;
}

#services {
  display: grid;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}
#services h2 {
  text-align: left;
  font-size: 2.7rem;
  font-weight: 600;
}
#services #services__viewmore {
  text-decoration: none;
}
#services #services__viewmore :hover {
  text-decoration: underline;
}

.services__card {
  display: grid;
  background-color: #ffffff;
  align-self: center;
  border: 1px solid red;
  border-radius: 10px;
  margin: 30px 20px 20px;
  top: 10px;
  transition: 0.5s ease;
}
.services__card h3 {
  font-weight: 300;
  font-size: 1.3rem;
}
.services__card p {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
.services__card .button {
  margin-bottom: 10px;
}
.services__card div {
  padding: 20px;
}
.services__card a {
  text-decoration: none;
  top: 10px;
  border-radius: 10px;
}
.services__card a:hover {
  top: -20px;
  transition: 1s ease;
  color: white;
  background-color: purple;
  border-radius: 10px;
}

.about {
  background-color: #323544;
}
.about p, .about a, .about h2, .about h3, .about h5, .about blockquote {
  color: #ffffff;
}
.about h2 {
  font-weight: 600;
  font-size: 2.25rem;
}
.about__text {
  color: #ffffff;
}

#news {
  display: grid;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}
#news h2 {
  text-align: left;
  font-size: 2.7rem;
  font-weight: 600;
  color: #333645;
}
#news h3 {
  color: #333645;
}
#news #services__viewmore {
  text-decoration: none;
}
#news #services__viewmore :hover {
  text-decoration: underline;
}

.news__card {
  display: grid;
  background-color: #ffffff;
  align-self: center;
  border: 1px solid red;
  border-radius: 3px;
  margin: 30px 20px 20px;
  top: 10px;
  transition: 0.5s ease;
}
.news__card h3 {
  font-weight: 300;
  font-size: 1.3rem;
}
.news__card p {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
.news__card .button {
  margin-bottom: 10px;
}
.news__card div {
  padding: 20px;
}
.news__card a {
  text-decoration: none;
  top: 10px;
  border-radius: 10px;
}
.news__card a:hover {
  top: -20px;
  transition: 1s ease;
  color: white;
  background-color: purple;
  border-radius: 10px;
}

.email {
  background-color: #dddddd;
  color: #333645;
}
.email__header {
  font-weight: 400;
  font-size: 32px;
  margin-top: 0;
}
.email__text {
  font-weight: 600;
}
.email__text a:hover, .email__text a:focus {
  color: #121419;
}
.email__text a:visited {
  color: #121419;
}

ul {
  margin: 0px 0px;
  border: 0px 0px;
  padding-inline-start: 0px;
}

h4 {
  font-weight: 400;
}

li {
  font-size: 13px;
  line-height: 22px;
}

li a {
  text-decoration: none;
  color: #ffffff;
}

li a:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  justify-content: left;
  padding: 0px 15px;
  background-color: #323544;
  color: #ffffff;
  letter-spacing: 0.4px;
}
.footer__socials__icon {
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #ffffff;
  background-color: #212330;
  border-color: green;
  border-style: inset;
  height: 50px;
  width: 50px;
  display: inline-block;
  text-align: center;
  margin: auto;
  line-height: 1.5;
}
.footer__socials__icon:hover {
  background-color: red;
}

.footer__logo {
  width: 320px;
  height: auto;
  padding-top: 27px;
}

.footer__license {
  width: 100%;
  background-color: #212330;
  padding: 5px 20px;
  font-size: 13px;
}

/*# sourceMappingURL=styles.css.map */
