// =====================================================
// Config/Variables
// =====================================================


// Colours

$white              : #ffffff;
$grey-light         : #f0f0f0;
$black              : #000000;

$footer-blue        :   #323544;
$footer-bottom      :   #212330;
$newsletter-grey    :   #dddddd;


// Theme

$newsletter-background-color        : $newsletter-grey;
$newsletter-text-color              : #333645;
$newsletter-link-alt-color           : #121419;


$footer-background-color            : $footer-blue;
$footer-text-color                  : $white;
$footer-bottom-color                : $footer-bottom;

$card-background-color              : $grey-light;
$card-text-color                    : #464957;

$social-facebook-color              : #3b5998;
$social-linkedin-color              : #0077b5;
$social-twitter-color               : #00aced;
$social-instagram-color             : #d93175;


// Image Paths

$banner_back_1 : "../images/home-YLei.webp";

