// =====================================================
// Config/Variables
// =====================================================


// Colours

$white              :   #ffffff;
$black              :   #000000;

$footer-blue        :   #323544;
$footer-bottom      :   #212330;
$newsletter-grey    :   #ddd;


// Theme

$newsletter-background-color        : $newsletter-grey;
$newsletter-text-color              : $black;


$footer-background-color            : $footer-blue;
$footer-text-color                  : $white;
$footer-bottom-color                : $footer-bottom;