// =====================================================
// Mixins Partial
// =====================================================



@mixin button ($color, $bordercolor:null) {

    // Assign colour passed as parameter
    background-color: $color;

    // Optional border style from parameter
    border-color: $bordercolor;

    // Default styles of buttons (Will adjust later)
    color: $white;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 5px 15px;
    height: auto;
    box-sizing: border-box;
    text-decoration: none;
}



