// =====================================================
// Base Styles
// =====================================================



// Page Wrapper (This is only for laying out the main page contents)
#page-wrapper {
    //display: grid;
}


.centered {
    text-align: center;
}


.hidden {
    display: none;
}

//  TODO: Make a container class

.reusable-wrapper {

  @include basicgrid;

    // margin: 0px 0px; 
    // //margin-left: 10px;
    // display: grid;
    // text-align: left;
}

body {
    font-family: Poppins, sans-serif;
}

li {
    list-style-type: none;
    //color: tomato;
}


.button {

  @include button(green);

}
