// =====================================================
// Base Styles
// =====================================================


// Elements

body {
  font-family: Poppins, sans-serif;
}

//Disable default anchor tag behaviour so that it only underlines on hover.
a {
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}


li {
  list-style-type: none;
}


// Reused Classes

.reusable-container {
  
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid yellow;

}

.centered {
    text-align: center;
}

.button {
  @include button(green);
}

.hidden {
  //  Consider moving this somewhere else...
  //  It can be overridden by another display property coming later (Cascade)
  display: none;
}