// =====================================================
// About Us (Welcome & Clients) Styles Partial
// =====================================================

#about-section-background {
    background-color: $footer-background-color;
}


//  These are the wrappers for the two main parts of this section.
#about1 {
    
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    width: 100%;

    @include mq(large) {
        width: 50%;
    }

    p {
        line-height: 1.875rem;
        margin-bottom: 10px;
    }

    #about-bold {
        font-weight: $font-bold;
    }

    h2 {
        margin-top: -6px;
        margin-bottom: 40px;
    }

}
#about2 {
    
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    width: 100%;

    @include mq(large) {
        width: 50%;
    }

    h2 {
        margin-top: -6px;
        margin-bottom: 40px;
    }
}

#about__darkbutton2 {
    margin-bottom: 50px;
    @include mq(large) {
        margin-bottom: 0px;
    }

}

#about-section{
    padding-left: 0px;
    padding-right: 0px;
}

.about {

    display: flex;
    flex-wrap: wrap;
    
    p, a, h2, h3, h5, blockquote {
        color: $white;
    }

    h2{
        font-weight: 600;
        font-size: 2.25rem;
    }

    &__text{
        color: $white;
    }

    &__darkbutton {
        @include button($btn-drk, $bradius:6px, $lheight:35px);
        font-size: 20px;
        padding: 10px 30px;
        margin-top: 20px;

        &:hover {
            background-color: $btn-drk-hover;
        }
    }

    &__googlebutton{
        @include button($btn-google, $bradius:6px, $lheight:35px);
        font-size: 20px;
        padding: 10px 27px;
        margin-top: 20px;

        @include mq(x-large) {
            margin-top: 25px;
            float: left;
        }

        &:hover {
            background-color: $google-hover;
        }
    }

    &__tpbutton {
        @include button($btn-trustpilot, $bradius:6px, $lheight:35px);
        font-size: 20px;
        padding: 10px 27px;
        margin-top: 20px;

        &:hover {
            background-color: $trustpilot-hover;
        }
        
        @include mq(x-large) {
            margin-top: 25px;
            float: right;
        }
    }

    &__quote {
        font-size: 20.8px;
        font-weight: 600;
        line-height: 30px;
        margin-inline: 0px;
        margin-block-start: 0px;
        margin-top: 25px;

        footer {

            //display: inline;

            font-size: 1.1rem;
            font-weight: 600;
            margin-top: 25px;
            margin-bottom: 25px;


            cite {
                
                font-style: normal;
                p {
                    color: #a3a8ac;
                    display: inline;
                    // font-style: none;
                }
                a {
                    // font-style: none;
                    &:hover {
                        text-decoration: underline;
                    }
                    //color: tomato;
                }
                
            }
        }
    }

    .icon-star {

        &::before{
            font-size: 50px;
            color: orange;
            margin-bottom: 25px;
        }
    }

}
