// =====================================================
// About Us (Welcome & Clients) Styles Partial
// =====================================================

#about-section-background {
    background-color: $footer-background-color;
}


//  These are the wrappers for the two main parts of this section.
#about1 {
    
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    width: 100%;

    @include mq(large) {
        width: 50%;
    }

    p {
        line-height: 1.875rem;
        margin-bottom: 10px;
    }

    #about-bold {
        font-weight: $font-bold;
    }

}
#about2 {
    
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    width: 100%;

    @include mq(large) {
        width: 50%;
    }
}

.about {

    display: flex;
    flex-wrap: wrap;
    
    p, a, h2, h3, h5, blockquote {
        color: $white;
    }

    h2{
        font-weight: 600;
        font-size: 2.25rem;
    }

    &__text{
        color: $white;
    }

    &__darkbutton {
        @include button($btn-drk);
        font-size: 20px;
        padding: 10px 30px;
    }

    &__googlebutton{
        @include button($btn-google, $bradius:6px);
        font-size: 20px;
    }

    &__tpbutton {
        @include button($btn-trustpilot, $bradius:6px);
        font-size: 20px;
    }

    &__quote {
        font-size: 20.8px;
        font-style: italic;
        font-weight: 600;
        line-height: 30px;
        margin-inline: 0px;
        margin-block-start: 0px;
        margin-top: 25px;

        footer {

            //display: inline;

            font-size: 1.1rem;
            font-weight: 600;
            margin-top: 25px;
            margin-bottom: 25px;

            p {
                color: #a3a8ac;
                display: inline;

            }
            cite {
                a {
                    //color: tomato;
                }
                
            }
        }
    }

    .icon-star {

        &::before{
            font-size: 50px;
            color: orange;
            margin-bottom: 25px;
        }
    }

}
