


.burger {

    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-direction: column;
    width: 64px;
    height: 56px;
    gap: 7px;
    cursor: pointer;
    order: 3;
    margin-left: 20px;
    padding: 0px 15px;
    background: $footer-background-color;
    &:hover {
        background-color: #22242e;
    }
    border: solid black 1px;
    border-radius: 3px;

    &__bar {

        // Apply to all bars
        &-top, &-middle, &-bottom {
            background: $white;
            height: 4px;
            width: 33px;
            border-radius: 0px;
            position: absolute;
            transition: transform 0.8s, opacity 0.6s, top 0.8s;
        }


        &-top{
            top: 28%;
        } 
        &-middle{
            top: 47%;
        }
        &-bottom {
            top: 66%;
        }
    }


}

.burger.active .burger__bar-top {
    transform:  rotate(-315deg);
    top: 50%;
}
.burger.active .burger__bar-middle {
    //transition-delay: 5s;
    opacity: 0%;
}
.burger.active .burger__bar-bottom {
    transform: rotate(-225deg);
    top: 50%;
}


