
#cookies {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.7);
    display: none;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center!important;
    padding: 30px;

    .cookie_container {
        width: 600px;
        position: fixed;
        bottom: 10%;
        left: 50%;
        z-index: $z-cookies;
        background: $white;
        border-top: 1px solid $black;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
}


#consent-button {
    position: fixed;
    line-height: 22px;
    z-index: 99;
    bottom: 0;
    left: 0;
    display: flex;
    background: #75788a;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    font-size: .8rem;
}


.cookie-title {
    h3 {
        border-bottom: 1px solid #d3d3d3;
        padding: 20px;
        font-weight: $font-light;
        font-size: 1.625rem;
        margin: 0;
        padding: 1rem;
        color: $dark-txt;
    }
}

.cookie-text {
    line-height: 1.875rem;    
    border-bottom: 1px solid #d3d3d3;
    padding: 20px;
    p {
        margin: 0 0 25px;
        
        a {
            //text-decoration: none;
            color: $newsletter-text-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.cookie-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    height: 87px;
}

.cookie-button {
    @include button($btn-drk, $bradius:3px, $lheight:25px);
    font-size: 1.063rem;
    padding: 10px 30px;
    flex-grow: 1;
    text-align: center;
    height: 100%;
}

#cookie-button1{
    background-color: $btn-contact;
    margin-right: 12px;
}
#cookie-button2{
    background-color: $service-webdesign;
    
    margin-left: 12px;
}


.cookies {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 10px;
    a {
        color: blue;
        font-weight: $font-xbold;
        text-decoration: none;

    }
       
}