// =====================================================
// Newsletter Email Styles Partial
// =====================================================


.email {
    background-color: $newsletter-background-color;
    color: $newsletter-text-color;
    
    //Header
    &__header {
        font-weight: 400;
        font-size: 32px;
    }
    
    //Other text (and links)
    &__text{
        font-weight: 600;

        a:hover, a:focus{
            color: $newsletter-link-alt-color;
        }
        //TODO: Check if this is right or better way to achieve it.
        a:visited{
            color: $newsletter-link-alt-color;
        }

    }
}

