// =====================================================
// Footer Styles Partial
// =====================================================

// Classes

#page-footer-background {
    background-color: $footer-background-color;
}

li {
    list-style-type: none;
}

#page-footer {
    // width: 100%;
    padding-top: 27px;
    @include mq(x-large){
        padding-top: 47px;
    }
}

.footer {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $white;
    letter-spacing: 0.4px;

    #footer-logo{
        width: 320px;
        height: auto;

        @include mq(x-small) {
            width: 250px;
        }
    }
    

    &__socials {

        padding-right: 80px;
        background-color: $footer-background-color;

        &__icon {

            &-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 30px;

                // width: auto;
            }

            $social_name : "";
            
            justify-content: center;
            align-items: center;
        
            font-size: 26px;
            line-height: 26px;
        
            color: $white;
            background-color: $footer-bottom-color;
        
            display: inline-block;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;

            
            @include mq(x-small) {
                width: 107px;
            }

            padding: 12px 22px 16px;

            & > span {
                position: relative;
                top: 4px;
                
                // padding: 12px 22px 16px;
            }

        }
    }

    &__links {
        background-color: $footer-background-color;
        
        
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 auto;
        flex-grow: 1;

        @include mq(large) {
        }


        margin-right: -15px;
        margin-left: -15px;

        //  Strip out default <ul> stuff
        & > div > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            
            li {
                font-size: 13px;
                line-height: 22px;
            }
        }
    }

    &__link-row {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 30px;
        max-width: 100%;
        width: 100%;
        
        @include mq(medium) {
            flex-grow: 1;
            width: 50%;
            float: left;
        }
        
        @include mq(large) {
            flex-grow: 1;
            width: 25%;
            float: left;
        }

    }

    &__link-header{
        font-weight: 400;
        margin: 0 0 26px;
    }

    &__license {
        background-color: $footer-bottom-color;
        font-size: 13px;

        width: 100%;


        margin-right: 0px;
        margin-left: 0px;

        padding-top: 5px;
        padding-bottom: 10px;;

        display: flex;
        flex-direction: column;

        //  TODO: The spacing is not quite correct but it's mostly there.
        @media (min-width: #{$break--s}) {
            flex-direction: row;
        }

        & > * {
            margin: 0;
            color: $white;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}




// ------------------------------ Elements

ul {
    //margin: 0px 0px;
    //border: 0px 0px;
    padding-inline-start: 0px;
}

h4 {
    font-weight: 400;
}



//<a> tags within <li> to target only links at bottom of page.
li a {
    text-decoration: none;
    color: $footer-text-color;
}

li a:hover {
    text-decoration: underline; 
}



#footer__social__fb:hover {
    background-color: $social-facebook-color;
}
#footer__social__li:hover {
    background-color: $social-linkedin-color;
}
#footer__social__x:hover {
    background-color: $social-twitter-color;
}
#footer__social__ig:hover {
    background-color: $social-instagram-color;
}   
