// =====================================================
// Header Style Partial
// =====================================================

// First Row contains the Logo, Contact Buttons and Burger Menu
#header1 {

    // Flex Stuff
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    &__logo {
        order: 1;
        justify-self: left;
        flex-grow: 1;
        flex-shrink: 1;
        img {
            max-width: 100%;
        }
    }

    &__phone {

        //  Hides the phone icon when screen size reaches medium
        @include mq(medium) {
            display: none;
        }

        order: 2;
        font-weight: 400;
        line-height: 32px;
        font-size: 32px;
        letter-spacing: 0.4px;
    }

    &__buttons {

        order: 2;

        //  Only display these buttons at a larger screen size
        display: none;
        @include mq(large) {
            display: block;
        }

    }

    &__supportbtn {
        background-color: $service-it;
    }

    &__contactbtn {
        background-color: $btn-contact;
    }

    &__searchform {

        

        //  Hide the search box until screen reaches medium.
        display: none;
        @include mq(medium) {
            display: flex;
        }

        order: 3;

        background-color: #eee;
        position: relative;
        box-sizing: border-box;
        flex-direction: row;

        //  Actual Text Input Box - Needs to overlap the button
        &-input {

            display: flex;
            @include mq(large) {
                display: none;
            }

            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-start;
            width: 100%;
            height: 47px;
            padding-right: 40px;
        }

        &-button {
            background-color: none;
            border: none;
            right: 3px;
            top: 30px;
        }

    }

    


    &__burger {
        order: 3;
        margin-left: 20px;
    }



}

//  Second Row is the Mobile Search Bar
#header2 {

    //Hide search bar unless screen size is small enough
    display: block;
    @include mq(medium) {
        display: none;
    }


    box-sizing: border-box;
    justify-content: flex-end;
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

    border: solid rgb(201, 201, 201) 5px;
    border-radius: 5px;

    //  Form within the container div.
    &__searchform {
        background-color: #eee;
        display: flex;
        position: relative;
        box-sizing: border-box;

        //  Actual Text Input Box - Needs to overlap the button
        &-input {
            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-start;
            width: 100%;
            height: 47px;
            padding-right: 40px;
        }

        &-button {
            background-color: none;
            border: none;
            right: 3px;
            top: 30px;
        }

    }
}

//  Third row is the Nav Bar (Although most of the action happens in the 'nav' Class selector!)
#header3 {
    background-color: $footer-background-color;
}

.nav {

    // Hide the Nav Bar until screen width large enough
    display: none;
    @include mq(large){
        display: initial;
    }

    &-list {

        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;

        font-size: 1.125rem;
        text-transform: uppercase;
        justify-content: center;
        width: 970px;
        margin: auto;
        

        &item {

            text-align: center;
            font-size: large;
            flex-grow: 1;
            flex-shrink: 1;

            display: block;
            a {
                display: block;
                padding-top: 19px;
                padding-bottom: 18px;

                //font-size: 10px;
                //line-height: 10px;
                //letter-spacing: 0.4px;

                span {
                    display: block;
                }
                small {
                    font-size: 10px;
                    line-height: 10px;
                    letter-spacing: 0.4px;
                }
            }

        }

    }


}

#nav-software {color: $service-software}
#nav-it {color: $service-it}
#nav-marketing {color: $service-marketing}
#nav-telecoms {color: $service-telecoms}
#nav-web {color: $service-webdesign}
#nav-security {color: $service-cybersec}
#nav-developer {color: $service-training}


.burger {

    display: flex;
    flex-direction: column;
    width: 33px;
    border: 0;
    padding: 0;
    gap: 7px;
    background: none;
    cursor: pointer;

    &__box {
        padding: 15px 15px;
        background: $footer-background-color;
        border: solid black 1px;
        border-radius: 3px;
    }

    &__top, &__middle, &__bottom {
        background: $white;
        height: 4px;
        width: 33px;
        border-radius: 0px;
        display: block;
    }
}