// =====================================================
// Header Style Partial
// =====================================================

// First Row contains the Logo, Contact Buttons and Burger Menu
#header1 {

    // Flex Stuff
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    &__logo {
        order: 1;
        justify-self: left;
        flex-grow: 1;
        flex-shrink: 1;
        img {
            max-width: 100%;
        }
    }

    
    //  This is a wrapped for the all UI buttons on the top row e.g. 
    &__actions {

        order: 2;
        padding-bottom: 7px;
        padding-top: 7px;

        display: flex;
        align-items: center;

    }

    &__phone {

        //  Hides the phone icon when screen size reaches medium
        @include mq(medium) {
            display: none;
        }

        order: 2;
        font-weight: 400;
        line-height: 32px;
        font-size: 32px;
        letter-spacing: 0.4px;
    }

    &__buttons {

        order: 2;

        //  Only display these buttons at a larger screen size
        display: none;
        @include mq(large) {
            display: block;
        }

    }

    &__supportbtn {
        @include button($service-it);
        margin-left: 20px;
        font-size: 18px;
    }

    &__contactbtn {
        @include button($btn-contact);
        margin-left: 20px;
        font-size: 18px;
    }

    &__searchform {

        

        //  Hide the search box until screen reaches medium.
        display: none;
        @include mq(medium) {
            display: flex;
        }

        order: 3;
        margin-left: 20px;

        background-color: #eee;
        position: relative;
        //box-sizing: border-box;
        flex-direction: row;
        align-items: center;

        //  Actual Text Input Box - Needs to overlap the button
        &-input {

            display: flex;

            //  This is the standard size for when it's larger, but it's hidden by default
            width: 268px;


            @include mq(medium) {
                width: 142px;
            }
            @include mq(large) {
                display: none;

                //  This is the padding for the larger size??)
                padding-right: 40px;
            }

            box-sizing: content-box;

            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-start;
            
            height: 44px;
            border: 1px;
            
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            
            
            border-color: #ccc;
            border-radius: 2px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
          
            &:focus {
              border-color: #5bc0de;
              outline: 0;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                0 0 8px rgba(91, 192, 222, 0.6);
            }

        }

        &-button {

            @include button($btn-contact);

            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 3px;
            padding-top: 7px;

            font-size: 23px;
            border-style: none;

            height: 56px;

            //background-color: none;
            //border: none;
            //right: 3px;
            //top: 30px;
        }

    }

    


    &__burger {
        order: 3;
        margin-left: 20px;
    }



}

//  Second Row is the Mobile Search Bar
#header2 {

    //Hide search bar unless screen size is small enough
    display: block;
    @include mq(medium) {
        display: none;
    }


    box-sizing: border-box;
    justify-content: flex-end;
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

    border: solid rgb(201, 201, 201) 5px;
    border-radius: 5px;

    //  Form within the container div.
    &__searchform {
        background-color: #eee;
        display: flex;
        position: relative;
        box-sizing: border-box;

        //  Actual Text Input Box - Needs to overlap the button
        &-input {
            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-start;
            width: 100%;
            height: 47px;
            padding-right: 40px;
        }

        &-button {
            background-color: none;
            border: none;
            right: 3px;
            top: 30px;
        }

    }
}

//  Third row is the Nav Bar (Although most of the action happens in the 'nav' Class selector!)
#header3 {
    background-color: $footer-background-color;
}

#submenu-software {
    display: none;
}

.nav {

    // Hide the Nav Bar until screen width large enough
    display: none;
    @include mq(large){
        display: initial;
    }

    &-list {

        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;

        font-size: 1.125rem;
        text-transform: uppercase;
        justify-content: center;
        width: 970px;
        margin: auto;
        

        &item {
            :hover {
                text-decoration: none;
            }
            :hover + #submenu-software {
                text-decoration: none;
                //  TODO: Show the Submenus
                display: block;
            }

            display: block;
            text-align: center;
            font-size: large;
            flex-grow: 1;
            flex-shrink: 1;      

            a {
                display: block;
                padding-top: 19px;
                padding-bottom: 18px;

                span {
                    display: block;
                }
                small {
                    font-size: 10px;
                    line-height: 10px;
                    letter-spacing: 0.4px;
                }
            }

        }

    }


}

#nav-software {color: $service-software}
#nav-it {color: $service-it}
#nav-marketing {color: $service-marketing}
#nav-telecoms {color: $service-telecoms}
#nav-web {color: $service-webdesign}
#nav-security {color: $service-cybersec}
#nav-developer {color: $service-training}


.burger {

    display: flex;
    flex-direction: column;
    width: 33px;
    border: 0;
    padding: 0;
    gap: 7px;
    background: none;
    cursor: pointer;

    &__box {
        padding: 15px 15px;
        background: $footer-background-color;
        border: solid black 1px;
        border-radius: 3px;
    }

    &__top, &__middle, &__bottom {
        background: $white;
        height: 4px;
        width: 33px;
        border-radius: 0px;
        display: block;
    }
}