// =====================================================
// News/Careers Styles Partial
// =====================================================

#news {

    display: grid;
    text-align: center;
    //background-color: $card-background-color;

    h2 {
        text-align: left;
        font-size: 2.7rem;
        font-weight: 600;
        color: $newsletter-text-color;
    }

    #services__viewmore{
        text-decoration: none;
        :hover{
            text-decoration: underline;
        }
    }
}

.news-card {
    
    &__container {
        display: grid;
        grid-template-areas:
        "one"
        "two"
        "three";

        @include mq(medium) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            "one two";
        }

        @include mq(x-large) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
            "one two three";
        }
    }

    background-color: $white;
    align-self: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 30px 20px 20px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);


    &-block1 {

        display: block;
        position: relative; //  Relative here allows the 'absolute' position below to reference it

        &__category {
            background: $service-business;
            display: block;
            //background-clip: border-box;
            background-origin: padding-box;
            position: absolute;
            right: 0px;
            padding: 0 10px;
            z-index: 1;
            top: 10px;

            font-size: .75rem;
            line-height: 1.438rem;
            color: $white;
            text-transform: uppercase;
        }

        &__image {
            box-sizing: border-box;
            img {

                width: 100%;
                height: auto;
            }
        }
    }

    &-block2 {

        //border: 1px solid #ccc;
        //border-radius: 3px;

        text-align: left;
        padding: 30px;

        &__title {

            font-weight: 300;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 600;
            color: $service-business; // read time



            &-readtime {
                font-size: .85rem;
                color: #333645;
                vertical-align: middle;
                display: inline;
            }
        }
    
        &__description {
            font-weight: 400;
            font-size: .8125rem;
            line-height: 1.375rem;
        }
    
        &__button {
            @include button($service-business, $bradius: 3px, $lheight: 35px);
            padding: 5px 15px;
        }


        &__author {

            border-top: 1px solid #ccc;
            margin-top: 30px;
            padding-top: 30px;
            display: flex;
            width: 100%;
            font-size: .875rem;

            &-image {
                //width: 1%;
                border-radius: 50%;
                overflow: hidden;
                height: 47px;
                width: 47px;
            }

            &-text {

                display: table-cell;
                vertical-align: middle;
                padding-left: 20px;
                line-height: 1.35rem;
                text-align: left;

                &-name {
                    display: table-cell;
                    font-weight: 600;
                    color: #333645;
                }

                &-date {
                    line-height: 1.37rem;
                }
            }
        }

    }

}

#news-hide {
    @include mq(medium) {
        display: none;
    }
    @include mq(x-large) {
        display: initial;
    }
}

#news-card1 {grid-area: one;}
#news-card2 {grid-area: two;}
#news-card3 {grid-area: three;}
