// =====================================================
// News/Careers Styles Partial
// =====================================================

.art-link{

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;


}

#news {

    header {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    display: grid;
    text-align: center;

    h2 {
        margin: 0px;
        text-align: left;
        font-size: 2.7rem;
        font-weight: $font-light;
        color: $newsletter-text-color;
        strong {
            font-weight: $font-bold;
        }
    }

    &__viewmore {
        text-decoration: none;
        :hover{
            text-decoration: underline;
        }

        &-top {
            //  Display this only on x-small and small screen sizes
            display: inline;
            float: right;
            @include mq(small) {display: none;}
            @include mq(x-small) {display: none;}

            justify-self: right;
            color: $dark-txt;
            font-weight: $font-bold;
            font-size: 1.625rem;
            color: $dark-txt;
            :hover{
                text-decoration: underline;
            }
        }
        &-bottom {
            //  Only display this on x-small and small screen sizes
            display: none;
            @include mq(small) {display: inline;}
            @include mq(x-small) {display: inline;}

            font-size: 1.625rem;
            color: $dark-txt;

        }
    }
}


.news-card {

    top: 0;
    transition: .5s ease;
    &:hover {
        transition: .5s ease;
        @include cardhover();
    }

    

    position: relative;
    
    &__container {
        display: grid;
        grid-template-areas:
        "one"
        "two"
        "three";

        @include mq(medium) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            "one two";
        }

        @include mq(x-large) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
            "one two three";
        }
    }

    background-color: $white;
    align-self: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 30px 20px 20px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);


    &-block1 {

        display: block;
        position: relative; //  Relative here allows the 'absolute' position below to reference it

        &__category {
            //background: $service-business;
            display: block;
            //background-clip: border-box;
            background-origin: padding-box;
            position: absolute;
            right: 0px;
            padding: 0 10px;
            top: 10px;

            font-size: .75rem;
            line-height: 1.438rem;
            color: $white;
            text-transform: uppercase;
            z-index: $z-sidebar;

            &:hover {
                text-decoration: underline;
            }
        }

        &__image {
            box-sizing: border-box;
            img {

                width: 100%;
                height: auto;
            }
        }
    }

    &-block2 {

        text-align: left;
        padding: 30px;

        &__title {

            font-weight: 300;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 600;

            &-readtime {
                font-size: .85rem;
                color: rgb(51 54 69 / 50%);
                vertical-align: middle;
                display: inline;
                text-transform: uppercase;
                font-weight: $font-light;
            }
        }
    
        &__description {
            font-weight: 400;
            font-size: .8125rem;
            line-height: 1.375rem;
        }
    
        &__button {
            @include button($service-business, $bradius: 3px, $lheight: 35px);
            padding: 5px 15px;
        }


        &__author {

            border-top: 1px solid #ccc;
            margin-top: 30px;
            padding-top: 30px;
            display: flex;
            width: 100%;
            //font-size: .875rem;

            &-image {
                //width: 1%;
                border-radius: 50%;
                overflow: hidden;
                height: 47px;
                width: 47px;
            }

            &-text {

                //display: table-cell;
                //vertical-align: middle;
                padding-left: 20px;
                line-height: 1.35rem;
                text-align: left;

                h5, p {
                    margin:0;
                    br {
                        display: none;
                    }
                }
                &-name {
                    display: table-cell;
                    font-weight: $font-bold;
                    color: #333645;
                }

                &-date {
                    line-height: 1.37rem;
                }
            }
        }

    }

}


.card1cat, .card1but {
    background-color: $service-marketing;
    color: $white;
}
.card2cat, .card2but {
    background-color: $service-business;
    color: $white;
}
.card3cat, .card3but {
    background-color: $service-it ;
    color: $white;
}
.card1tit{color:$service-marketing;}
.card2tit{color:$service-business;}
.card3tit{color:$service-it;}


#news-hide {
    @include mq(medium) {
        display: none;
    }
    @include mq(x-large) {
        display: initial;
    }
}

#news-card1 {grid-area: one;}
#news-card2 {grid-area: two;}
#news-card3 {grid-area: three;}

div[id^='news-card']{
    transition: .5s ease;
}