.office-card {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-grey {
        radius: 20px 20px 0 0;
    }
    overflow: hidden;
    
}

.office-image {
    
    img {
        width: 100%;
    }
}

.office-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.office-address {
    font-size: 1rem;
}

.office-phone {
    font-size: 1rem;
}

.office-button {
    margin-top: 1rem;
}

