// =====================================================
// Our Services Styles Partial
// =====================================================

// This should contain cards in a grid/flex that adapt to screen size
// Beneath the cards is a rolling carousel of images showing Logos/Awards

#services {

    display: grid;
    text-align: center;
    background-color: $card-background-color;

    h2 {
        text-align: left;
        font-size: 2.7rem;
        font-weight: 600;
    }

    h3 {
        :hover{
            
            text-decoration: underline;
        }
    }

    #services__viewmore {
        color: $newsletter-text-color;
        font-weight: 600;
        font-size: 1.625rem;
        text-decoration: none;
        :hover{
            text-decoration: underline;
        }
    }
}


.service-card {

    box-shadow: 0 3px 35px rgba(0,0,0,.1);

    // Stop underlining links
    :hover {
        text-decoration: none;
    }

    //This anchor tag wraps everything but is inside the containing div
    a {
        top: 10px;
        border-radius: 10px;
        &:hover{
            top: -20px;
            transition: 1s ease;
            color:red;

            //background-color: rgb(187, 164, 255);
            //border-radius: 10px;
        }
    }

    display: grid;
    background-color: $white;
    align-self: center;
    border: 1px solid #ccc;
    border-radius: 15px;

    margin-top: 30px;
    margin-bottom: 20px;

    // top: 10px;
    // transition: 0.5s ease;

    &__icon{

        //For the Icon
        span {
            display: inline-block;
            padding: 20px;
            margin: 20px;
            font-size: 30px;
            color: $white;
            border-radius: 100%;
        }
    }

    &__title {
        font-weight: 300;
        font-size: 1.3rem;
    }

    &__text {
        font-weight: 400;
        font-size: .8125rem;
        line-height: 1.375rem;
    }

    &__button {
        @include button(blue, $lheight: 35px);
        margin-bottom: 30px;
    }
}


// To get the hover-effect working on the tabs, where it goes up slightly, 
// set the element to top: 0; and transition: .5s ease;
// Then you target the elements hover state like this:
// .tab:hover {top: -10px; and transition: .5s ease;}



.service-color-software {
    background-color: $service-software;
    :hover {
        color: pink;
        background-color: yellow;
    }
}

.service-color-it {
    background-color: $service-it;
}
.service-color-marketing {
    background-color: $service-marketing;
}
.service-color-telecoms {
    background-color: $service-telecoms;
}
.service-color-webdesign {
    background-color: $service-webdesign;
}
.service-color-cybersec {
    background-color: $service-cybersec;
}
.service-color-training {
    background-color: $service-training;
}

